<body class="text-center">

  <div class="authentication-form">

    <h1 class="h3 mb-3 font-weight-normal">Edit <%= resource_name.to_s.humanize %></h1>

    <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <%= f.text_field :first_name, label_as_placeholder: true, autofocus: true, autocomplete: "first-name" %>
      <%= f.text_field :last_name, label_as_placeholder: true, autocomplete: "last-name" %>

      <%= f.text_field :organization, label_as_placeholder: true, autocomplete: "organization" %>

      <%= f.email_field :email, label_as_placeholder: true, autocomplete: "new-email" %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <%= f.password_field :current_password, label_as_placeholder: true, autocomplete: "current-password", help: "(we need your current password to confirm your changes)" %>

      <%= f.form_group :password_field do %>
        <%= f.password_field :password, wrapper: false, label_as_placeholder: true, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
        <small class="form-text text-muted">(leave blank if you don't want to change it)</small>
      <% end %>

      <%= f.password_field :password_confirmation, label_as_placeholder: true, autocomplete: "new-password", label: "New password confirmation" %>

      <%= f.primary "Update", extra_class: "btn-lg my-3" %>
    <% end %>

    <h2 class="h4 mt-4 mb-3 font-weight-normal">Cancel my account</h2>

    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-lg btn-outline-danger' %></p>

    <%= link_to "Back", :back %>

  </div>

</body>
