<body class="text-center">

  <div class="authentication-form">

    <% session[:invite_code] = params[:invite_code] if params[:invite_code].present? %>
    <% @invite_code = session[:invite_code] if session[:invite_code].present? %>
    <% sign_up_title = @invite_code ? 'Sign up and join workspace' : 'Sign up' %>
    <h1 class="h3 mb-3 font-weight-normal"><%= sign_up_title %></h1>

    <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <%= f.text_field :first_name, label_as_placeholder: true, autofocus: true, autocomplete: "first-name" %>
      <%= f.text_field :last_name, label_as_placeholder: true, autocomplete: "last-name" %>

      <%= f.text_field :organization, label_as_placeholder: true, autocomplete: "organization" %>

      <%= f.email_field :email, label_as_placeholder: true, autocomplete: "email" %>

      <%= f.form_group :password_field do %>
        <%= f.password_field :password, wrapper: false, label_as_placeholder: true, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      <% end %>

      <%= f.password_field :password_confirmation, label_as_placeholder: true, autocomplete: "new-password", label: "New password confirmation" %>

      <%# Write group code from URL into hidden field for group code encoded URLs %>
      <% if @invite_code %>
        <%= f.hidden_field :sign_up_code, :value => @invite_code %>
      <% end %>

      <%= f.form_group :consent do %>
        <%= f.check_box :constructive_consent, label: "This platform has been developed in order to facilitate constructive consensus-oriented dialogue over long distances. I declare that I will use it in that spirit and refrain from deliberate provocations and offending statements." %>
        <%= f.check_box :privacy_consent, label: "I agree that my name and organisation will be visible for the members of the dialogue platform whenever I submit a comment or change request. It is considered important that this dialogue is confidential but not anonymous. Personal data will not be used by this website for any other purpose.".html_safe %>
        <%= f.check_box :personal_information_consent, label: "I herewith confirm that I will not disclose personal information contained in the texts of the dialogue-platform. The #{link_to 'Chatham House Rule', 'https://en.wikipedia.org/wiki/Chatham_House_Rule'} applies, that is, participants of the online-dialogue are free to use information on what is being discussed in this dialogue-forum only without referring to the identity of the author or his/her organisational affiliation. Violations of this rule lead to exclusion from the dialogue platform. I respect that the host of this website cannot be held legally accountable for the enforcement of this confidentiality rule.".html_safe %>
      <% end %>

      <div class="actions">
        <%= f.primary sign_up_title, extra_class: "btn-lg my-3" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>

</body>