<% if resource.errors.any? %>
  <div id="error_explanation">
    <h2 class="h4">
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </h2>
    <ul class="list-group list-group-flush">
      <% resource.errors.full_messages.each do |message| %>
        <li class="list-group-item"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
