<template>
    <a ref="footnote" draggable="false" :id="`footnote-${id}`" class="footnote ce-node">
        <b-popover
            :target="`footnote-${id}`"
            triggers="click"
            :show.sync="popoverShow"
            placement="auto"
            ref="popover"
            @shown="onShown"
            title=""
            custom-class="shadow-lg"
        >
            <div v-click-outside="deselectNode">
                <p
                    ref="content"
                    v-html="content"
                    contenteditable="true"
                    @blur="onBlurContent"
                    @keydown.enter="onEnterKey"
                    @paste="onContentPaste"
                    class="is-contenteditable"
                ></p></div></b-popover
    ></a>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import { default as clickOutside } from "../utils/clickOutside";
import { uuidv4 } from "utils/uuid";
import { DOMSerializer } from "prosemirror-model";
const sanitizeHtml = require("sanitize-html");

@Component({
    directives: { "click-outside": clickOutside },
})
export default class FootnoteComponent extends Vue {
    @Prop({ required: true }) protected node!: any;
    @Prop({ required: true }) protected updateAttrs!: any;

    public static HTML_SANITIZE_OPTIONS = {
        // TODO Add underline via the corresponding tag/CSS class (see tiptap)
        allowedTags: ["strong", "em"] as string[],
        allowedAttributes: {},
    };

    private id = uuidv4();

    private isMounted: boolean = false;
    private popoverShow: boolean = false;

    private mounted() {
        this.isMounted = true;
    }

    private deselectNode(event?: any) {
        if (event) {
            const path = event.path || (event.composedPath && event.composedPath());
            if (
                path &&
                path.some((node: any) => node === (this.$refs["popover"] as any).$children[0].$children[0].$el)
            ) {
                // The user clicked onto the footnote itself - so keep it open
                return;
            }
            // The browser doesn't support the event.path property in any
            // way - so let's just close the footnote popover.
        }
        this.popoverShow = false;
    }

    get captionEmpty() {
        if (!this.isMounted) {
            return;
        }
        return this.node.content.size === 0;
    }

    private onShown() {
        (this.$refs["content"] as HTMLElement).focus();
    }

    private get content() {
        const fragment = DOMSerializer.fromSchema(this.node.type.schema.topNodeType.schema).serializeFragment(
            this.node.content
        );
        let tmp = document.createElement("div");
        tmp.appendChild(fragment);
        return tmp.innerHTML;
    }

    private set content(content) {
        this.updateAttrs({
            content: sanitizeHtml(
                content
                    .replace(/<b>/g, "<strong>")
                    .replace(/<\/b>/g, "</strong>")
                    .replace(/<i>/g, "<em>")
                    .replace(/<\/i>/g, "</em>"),
                FootnoteComponent.HTML_SANITIZE_OPTIONS
            ),
        });
    }

    private onBlurContent() {
        this.content = (this.$refs["content"] as HTMLElement).innerHTML;
    }

    private onEnterKey(event: any) {
        event.preventDefault();
        event.stopPropagation();
    }

    private onContentPaste(event: any) {
        event.preventDefault();
        event.stopPropagation();
        return false;
    }

    @Watch("popoverShow")
    private onPopoverShowChanged(popoverShow: boolean, oldPopoverShow: boolean) {
        if (popoverShow && !oldPopoverShow) {
            this.$root.$emit("show-footnote-popover");
            return;
        }
        if (!popoverShow && oldPopoverShow) {
            this.$root.$emit("hide-footnote-popover");
            return;
        }
    }
}
</script>
