<body class="text-center">

  <div class="authentication-form">

    <h1 class="h3 mb-3 font-weight-normal">Resend unlock instructions</h1>

    <%= bootstrap_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <%= f.email_field :email, label_as_placeholder: true, autofocus: true, autocomplete: "email" %>

      <div class="actions">
        <%= f.primary "Resend unlock instructions", extra_class: "btn-lg my-3" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>

</body>
