<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi,</h1>
    <p><%= @from_user.first_name %> invited you to collaborate on <strong>delvy</strong>Dialogue.</p>
    <p>Click <%= link_to 'here', @url %> to join <%= @group.name %>!</p>
  </body>
</html>
