<body class="text-center">

  <div class="authentication-form">

    <h1 class="h3 mb-3 font-weight-normal">Change your password</h1>

    <%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <%= f.form_group :password_field do %>
        <%= f.password_field :password, wrapper: false, label_as_placeholder: true, autofocus: true, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      <% end %>

      <%= f.password_field :password_confirmation, label_as_placeholder: true, autocomplete: "off", label: "Confirm new password" %>

      <div class="actions">
        <%= f.primary "Change my password", extra_class: "btn-lg my-3" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>

</body>
