<body class="text-center">

  <div class="authentication-form">

    <h1 class="h3 mb-3 font-weight-normal">Forgot your password?</h1>

    <%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <%= f.text_field :login, label_as_placeholder: true, autofocus: true, autocomplete: "email", label: "Email" %>

      <div class="actions">
        <%= f.primary "Send me reset password instructions", extra_class: "btn-lg my-3" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>

</body>
