$theme-colors: (
    "primary": #008bd9,
    "success": #28a745,
    "warning": #ffc107,
    "orange": #ff6e07,
    "alert": #dc3545,
);

$fa-font-path: "/assets";

$b-popover-bg-level: 0;
$b-popover-border-level: 1;
$b-popover-color-level: -12;
$popover-max-width: 30rem;
