.authentication-form {
    width: 100%;
    max-width: 25rem;
    padding: 1rem;
    margin: 4rem auto;
}

.pl-6 {
    padding-left: 6rem;
}

.pr-6 {
    padding-right: 6rem;
}

.pl-8 {
    padding-left: 8rem;
}

.pr-8 {
    padding-right: 8rem;
}

.text-page {
    padding: 5rem 6rem 7rem;
    background: transparent;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.18);
    max-width: 1200px;
}

.tooltip-inner {
    width: 32rem;
    max-width: 32rem;
}

.cursor-pointer {
    cursor: pointer;
}

.border-2 {
    border-width: 0.1rem;
}

.tooltip-inner {
    width: auto;
}

.content-unit {
    background-color: white;
    margin-top: 0.2rem;
    margin-right: 0.4rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    padding: 0.2rem 0.4rem;
    color: black;
    position: relative;

    &.shadow-generation-finished {
        padding-bottom: 0;
    }

    .line {
        position: absolute;
        z-index: -1;
    }

    .line {
        &:before,
        &:after {
            content: "";
            position: absolute;
            display: inline-block;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: white;
            z-index: -1;
        }

        &:before {
            box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
        }

        &:after {
            opacity: 0;
            box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
            transition: opacity 0.2s ease-out;
        }
    }

    &:hover,
    &.hovered {
        &:not(.selected) {
            z-index: 1;
            cursor: pointer;
        }
    }

    &.selected {
        z-index: 1040;
    }

    &:hover,
    &.hovered,
    &.selected {
        .line {
            &:after {
                opacity: 1;
            }
        }
    }
}

.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.above-backdrop {
    z-index: 1050;
}

.position-upper-right-corner {
    position: absolute;
    top: 0;
    left: 100%;
}

$rating-bar-width: 8rem;

.rating-bar-container {
    min-width: $rating-bar-width;
}

.rating-bar {
    width: 100%;
    max-width: $rating-bar-width;
    height: 0.5rem;
    border-radius: 0.5rem;
}

.content-unit-rating-badge {
    // Make the pill badge (almost) circular
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
    min-width: 1.4rem;
    vertical-align: text-bottom;
    font-variant-numeric: tabular-nums;
}

$select-request-checkbox-column-width: 2rem;

.select-request-checkbox-column {
    width: $select-request-checkbox-column-width;
}

.select-request-request-column {
    width: calc(100% - #{$select-request-checkbox-column-width}) !important;
}

$request-type-badge-size: 2.2rem;

.request-type-badge {
    width: $request-type-badge-size;
    height: $request-type-badge-size;
    left: -$request-type-badge-size / 2;
}

.request-type-badge-change-request {
    background-color: white;
    color: black;
}

.request-type-badge-agreement-request {
    background-color: black;
    color: white;
}

.content-unit-details-column {
    margin-left: -$request-type-badge-size;
}

.content-unit-details-pane {
    padding-left: $request-type-badge-size;
}

.overflow-y-scroll {
    overflow-y: scroll;
}

.overflow-x-visible {
    overflow-x: visible;
}

.mh-100vh {
    max-height: 100vh;
}

.footnote-list p {
    padding-bottom: 0;
    margin-bottom: 0;
}

p.is-contenteditable {
    margin-bottom: 0;
    padding: 1rem;

    &:focus {
        outline: none;
    }
}

.editor {
    &:focus {
        outline: none;
    }

    *:focus {
        outline: none;
    }

    position: relative;
    counter-reset: prosemirror-footnote;

    a.footnote {
        display: inline-block;
        position: relative;
        cursor: pointer;

        &:after {
            content: counter(prosemirror-footnote);
            vertical-align: super;
            font-size: 75%;
            counter-increment: prosemirror-footnote;
        }
    }
}

.request-card-title {
    padding-left: 0;
    transition: padding-left 0.15s ease-out;
}

.content-unit-details-request-entry:hover .request-card-title {
    padding-left: 0.5rem;
}
