<template>
    <div>
        <app-navigation></app-navigation>
        <router-view class="mb-5"></router-view>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

import TextNode from "TextNode.vue";
import AppNavigation from "AppNavigation.vue";

declare module "vue/types/vue" {
    interface Vue {
        $router: any;
        $bvModal: any;
    }
}

@Component({
    components: { TextNode, AppNavigation },
})
export default class App extends Vue {}
</script>
