<template>
    <b-navbar toggleable="sm" type="dark" variant="dark">

        <b-container>

            <b-navbar-brand :to="'/'"><strong>delvy</strong>Dialogue</b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav>
                    <b-nav-item :to="'/'">Select text</b-nav-item>
                    <b-nav-item :to="'/users'">Participants</b-nav-item>
                    <b-nav-item :to="'/invite-user'">Invite collaborator</b-nav-item>
                </b-navbar-nav>

                <!-- Right aligned nav items -->
                <b-navbar-nav class="ml-auto">
                    <b-nav-item-dropdown right>
                        <!-- Using 'button-content' slot -->
                        <template v-slot:button-content>
                            <b-avatar
                                class="mr-2"
                                variant="light"
                                size="sm"
                            ></b-avatar>
                            {{ userFirstName }}
                        </template>
                        <b-dropdown-item href="/users/edit">Edit user profile</b-dropdown-item>
                        <b-dropdown-item href="/users/sign_out" type="submit">Logout</b-dropdown-item>
                    </b-nav-item-dropdown>
                </b-navbar-nav>
            </b-collapse>

        </b-container>

    </b-navbar>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({})
export default class AppNavigation extends Vue {
    private userFirstName: string = "";

    private async mounted() {
        this.userFirstName = document.getElementsByName("user_first_name")[0].getAttribute("content") as string;
    }
}
</script>
