<template>
    <div>
        <div>
            <span
                :id="`content-unit-${contentUnitData.id}`"
                ref="sentenceContainer"
                :class="`content-unit ${isHovered ? 'hovered' : ''} ${isSelected ? 'selected' : ''}`"
                @click="onClick"
            >
                <span ref="sentence" v-html="preparedContent"></span>
                <b-badge
                    class="content-unit-rating-badge"
                    v-if="contentUnitData.amount_of_requests > 0"
                    pill
                    :variant="ratingsBadgeVariant"
                >
                    {{ contentUnitData.amount_of_requests }}
                </b-badge>
            </span>
        </div>
        <b-popover
            v-if="footnotes.length > 0"
            :target="`content-unit-${contentUnitData.id}`"
            triggers="hover"
            placement="right-bottom"
            variant="dark"
            custom-class="shadow border-0"
        >
            <template v-slot:title>{{ footnotes.length }} Footnote{{ footnotes.length > 1 ? "s" : "" }}</template>
            <div v-for="(footnote, index) in footnotes" v-html="footnote" :key="index"></div>
        </b-popover>
    </div>
</template>

<script lang="ts">
const matchAll = require('string.prototype.matchall');
import { Component, Prop, Vue, Watch } from "vue-property-decorator";

@Component({})
export default class ContentUnit extends Vue {
    @Prop({ required: true }) protected contentUnitData!: IContentUnit;
    @Prop({ required: true }) protected onContentUnitClick!: Function;
    @Prop({ required: true }) protected currentlySelectedContentUnitId!: number;

    $event: any;

    private isHovered: boolean = false;

    private get displayText() {
        if (this.contentUnitData.best_rated_request) {
            return this.contentUnitData.best_rated_request.content as string;
        }
        return this.contentUnitData.original_content;
    }

    private get preparedContent() {
        let content = this.displayText.replace(
            new RegExp(/<footnote>.*?<\/footnote>/g),
            '<sup><i class="far fa-sticky-note"></i></sup>'
        );

        if (content && content.trim() !== "") {
            return content;
        } else {
            return "[deleted sentence]";
        }
    }

    private get ratingsBadgeVariant() {
        const bestRatedRequest = this.contentUnitData.best_rated_request;
        if (bestRatedRequest) {
            switch (bestRatedRequest.worst_rating_value) {
                case 0:
                    return "danger";
                case 1:
                    return "orange";
                case 2:
                    return "warning";
                case 3:
                    return "success";
                default:
                    return "secondary";
            }
        }
        return "secondary";
    }

    private get footnotes() {
        return Array.from(matchAll(this.displayText, new RegExp(/<footnote>(.*?)<\/footnote>/g)), (m: any) => m[1]);
    }

    private get isSelected() {
        return (
            this.currentlySelectedContentUnitId !== -1 &&
            this.currentlySelectedContentUnitId === this.contentUnitData.id
        );
    }

    private mounted() {
        this.addLineBackgrounds();
        window.addEventListener("resize", () => {
            this.refreshLineBackgrounds();
        });
    }

    private refreshLineBackgrounds = () => {
        const sentenceContainer = this.$refs["sentenceContainer"] as Element;
        sentenceContainer.classList.remove("shadow-generation-finished");
        let appendedLineChildren = sentenceContainer.getElementsByClassName("line");
        while (appendedLineChildren.length > 0) {
            if (appendedLineChildren[0].parentNode) {
                appendedLineChildren[0].parentNode.removeChild(appendedLineChildren[0]);
            }
        }
        const sentence = this.$refs["sentence"] as Element;
        sentence.innerHTML = this.preparedContent;
        this.addLineBackgrounds();
    };

    private onClick = () => {
        if (this.isSelected) {
            return;
        }
        this.onContentUnitClick(this.contentUnitData.id);
    };

    private addLineBackgrounds() {
        const sentenceContainer = this.$refs["sentenceContainer"] as Element;
        const lines = Array.from(sentenceContainer.getClientRects());
        if (lines.length > 0) {
            const startTop = sentenceContainer.getClientRects()[0].top;
            const startLeft = sentenceContainer.getClientRects()[0].left;
            lines.forEach(line => {
                const backgroundElement = document.createElement("div");
                backgroundElement.style.left = `${line.left - startLeft}px`;
                backgroundElement.style.top = `${line.top - startTop}px`;
                backgroundElement.style.width = `${line.width}px`;
                backgroundElement.style.height = `${line.height}px`;

                backgroundElement.classList.add("line");

                sentenceContainer.prepend(backgroundElement);
            });
        }
        sentenceContainer.classList.add("shadow-generation-finished");
    }

    @Watch("contentUnitData")
    private onContentUnitDataChanged(newContentUnitData: IContentUnit, oldContentUnitData: IContentUnit) {
        this.refreshLineBackgrounds();
    }
}
</script>
