<template>
    <div class="position-relative">
        <div class="backdrop" @click="onClose"></div>
        <div class="mh-100vh overflow-y-scroll overflow-x-visible content-unit-details-pane">
            <div class="shadow">
                <b-card no-body bg-variant="dark" text-variant="white" class="rounded-0 above-backdrop px-2 py-2">
                    <b-button variant="light" :pressed.sync="isAddingChangeRequest" class="w-100">
                        <i class="fa fa-code-branch mr-1"></i> Add a change request
                    </b-button>
                    <b-button
                        v-if="!!requests && requests.length > 0"
                        variant="light"
                        :pressed.sync="isAddingAgreementRequest"
                        class="mt-2 w-100"
                    >
                        <i class="far fa-handshake mr-1"></i> Add an agreement request
                    </b-button>
                    <b-form v-if="isAddingChangeRequest" class="pt-2">
                        <RichTextEditor v-model="newlyAddedChangeRequest.content"></RichTextEditor>
                        <b-form-textarea
                            class="mt-2"
                            id="reason"
                            v-model="newlyAddedChangeRequest.reason"
                            placeholder="Enter the reason…"
                            rows="3"
                            max-rows="6"
                        >
                        </b-form-textarea>
                        <b-button
                            class="mt-2 w-100"
                            variant="primary"
                            :disabled="!newlyAddedChangeRequestIsValid || isSubmittingNewChangeRequest"
                            @click="onSubmitNewChangeRequest"
                        >
                            {{ isSubmittingNewChangeRequest ? "Please wait…" : "Submit" }}
                        </b-button>
                    </b-form>
                    <div
                        v-if="
                            isAddingAgreementRequest &&
                                (!newlyAddedAgreementRequest.requests ||
                                    newlyAddedAgreementRequest.requests.length === 0)
                        "
                        class="p-2"
                    >
                        <small>
                            Please select one or multiple requests from below that you want to summarise in an agreement
                            request.
                        </small>
                    </div>
                    <div
                        v-if="!isAddingAgreementRequest && !isAddingChangeRequest"
                        class="p-2"
                    >
                        <small>
                            To show the details of a request and add your assessment/comment, please click on it.
                        </small>
                    </div>
                    <b-form
                        v-if="
                            isAddingAgreementRequest &&
                                !!newlyAddedAgreementRequest.requests &&
                                newlyAddedAgreementRequest.requests.length > 0
                        "
                        class="pt-2"
                    >
                        <RichTextEditor
                            @input="onTextEditorInput"
                            v-model="newlyAddedAgreementRequest.content"
                        ></RichTextEditor>
                        <b-form-textarea
                            class="mt-2"
                            id="reason"
                            v-model="newlyAddedAgreementRequest.reason"
                            placeholder="Enter the reason…"
                            rows="3"
                            max-rows="6"
                        >
                        </b-form-textarea>
                        <b-button
                            class="mt-2 w-100"
                            variant="primary"
                            :disabled="!newlyAddedAgreementRequestIsValid || isSubmittingNewAgreementRequest"
                            @click="onSubmitNewAgreementRequest"
                        >
                            {{ isSubmittingNewAgreementRequest ? "Please wait…" : "Submit" }}
                        </b-button>
                    </b-form>
                </b-card>
                <b-card
                    v-if="requests.length > 0"
                    no-body
                    bg-variant="light"
                    text-variant="dark"
                    class="rounded-0 above-backdrop px-2 py-2 mt-0 position-relative"
                >
                    <a
                        v-for="(request, index) in requests"
                        :class="`${isAddingAgreementRequest ? '' : 'cursor-pointer'} d-flex d-block content-unit-details-request-entry`"
                        @click="() => (isAddingAgreementRequest ? undefined : onRequestClick(request.id))"
                    >
                        <div
                            :class="
                                `position-absolute shadow rounded-circle d-flex align-items-center justify-content-center request-type-badge ${getTypeBadgeClassForRequest(
                                    request
                                )}`
                            "
                        >
                            <i :class="getTypeIconClassForRequest(request)"></i>
                        </div>
                        <div v-if="isAddingAgreementRequest" class="p-2 pl-4 pr-0 select-request-checkbox-column">
                            <div class="text-center">
                                <b-form-checkbox
                                    :id="`checkbox-select-request-${request.id}`"
                                    v-model="newlyAddedAgreementRequest.requests"
                                    :value="request.id"
                                    :name="`checkbox-select-request-${request.id}`"
                                    size="lg"
                                />
                            </div>
                        </div>
                        <div :class="`w-100 p-2 ${isAddingAgreementRequest ? 'select-request-request-column' : ''}`">
                            <RequestCard :request="request" class="pl-3" :is-accepted="index === 0"></RequestCard>
                        </div>
                    </a>
                </b-card>
            </div>
        </div>
        <div class="position-upper-right-corner">
            <b-button variant="dark" @click="onClose" class="rounded-0">
                <i class="fa fa-times"></i>
            </b-button>
        </div>
    </div>
</template>

<script lang="ts">
import axios from "axios";
import * as moment from "moment";

import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import RichTextEditor from "RichTextEditor.vue";
import { isAgreementRequest, isChangeRequest, isOriginalRequest } from "utils/requestUtils";
import RequestCard from "RequestCard.vue";

@Component({
    components: { RichTextEditor, RequestCard },
})
export default class ContentUnitDetails extends Vue {
    @Prop({ required: true }) protected contentUnitId!: number;
    @Prop({ required: true }) protected contentUnit!: IContentUnit;
    @Prop({ required: true }) protected onClose!: Function;
    @Prop({ required: true }) protected onRequestClick!: Function;

    private isAddingChangeRequest: boolean = false;
    private isSubmittingNewChangeRequest: boolean = false;
    private newlyAddedChangeRequest: IChangeRequest = {
        content: this.contentUnit.original_content,
    };
    private isAddingAgreementRequest: boolean = false;
    private isSubmittingNewAgreementRequest: boolean = false;
    private newlyAddedAgreementRequest: IAgreementRequest = {
        content: this.bestRatedSelectedRequestContent,
        requests: [] as IRequest[],
    };
    private requests: IRequest[] = [];
    private newlyAddedAgreementRequestContentIsChangedByUser = false;

    @Watch("newlyAddedAgreementRequestComputed.requests")
    onAddedAgreementRequestChanged() {
        if (!this.newlyAddedAgreementRequestContentIsChangedByUser) {
            Vue.set(this.newlyAddedAgreementRequest, "content", this.bestRatedSelectedRequestContent);
        }
    }

    get newlyAddedAgreementRequestComputed() {
        return this.newlyAddedAgreementRequest;
    }

    get newlyAddedChangeRequestIsValid() {
        if (!this.newlyAddedChangeRequest.reason) {
            return false;
        } else if (!this.newlyAddedChangeRequest.content){
            // allow deletion of content units
            return true;
        } else if (this.newlyAddedChangeRequest.content.trim() !== this.contentUnit.original_content.trim()) {
            return true;
        }
    }

    get newlyAddedAgreementRequestIsValid() {
        if (!this.newlyAddedAgreementRequest.reason || !this.newlyAddedAgreementRequest.requests) {
            return false;
        } else if (!this.newlyAddedAgreementRequest.content) {
            if (!!this.newlyAddedAgreementRequest.requests &&
            this.newlyAddedAgreementRequest.requests.length > 0) {
                // allow deletion of content units
                return true;
            }
        } else {
            return (
                !!this.newlyAddedAgreementRequest.requests &&
                this.newlyAddedAgreementRequest.requests.length > 0 &&
                this.newlyAddedAgreementRequest.content.trim() !== this.contentUnit.original_content.trim() &&
                this.newlyAddedAgreementRequest.content.trim() !== this.bestRatedSelectedRequestContent
            );
        }
    }

    get bestRatedSelectedRequestContent(): any {
        if (!this.requests) {
            return "";
        }

        let sorted_change_request = this.requests.filter(request => {
            return this.newlyAddedAgreementRequest.requests.some(new_request_id => {
                return request.id === new_request_id;
            });
        });

        if (sorted_change_request.length === 0) {
            return "";
        } else {
            return `${sorted_change_request[0].content as string}`;
        }
    }

    private async mounted() {
        axios.defaults.headers.common["X-CSRF-Token"] = document
            .getElementsByName("csrf-token")[0]
            .getAttribute("content");
        axios.defaults.headers.common["Accept"] = "application/json";

        window.addEventListener("keydown", this.onKeydown);

        const { data: requests } = await axios.get(`/content_units/${this.contentUnit.id}/requests`);
        this.requests = requests;
    }

    private beforeDestroy() {
        window.removeEventListener("keydown", this.onKeydown);
    }

    private onKeydown = (event: KeyboardEvent) => {
        if (event.key === "Escape" || event.key === "Esc") {
            this.onClose();
        }
    };

    private getTypeBadgeClassForRequest = (request: IRequest) => {
        if (isAgreementRequest(request)) {
            return "request-type-badge-agreement-request";
        }
        // TODO As soon as there are copies of the original text as requests,
        // TODO check for them as well and add corresponding class for "no icon"
        return "request-type-badge-change-request";
    };

    private getTypeIconClassForRequest = (request: IRequest) => {
        if (isOriginalRequest(request)) {
            return "far fa-file-alt";
        } else if (isAgreementRequest(request)) {
            return "far fa-handshake";
        }
        return "fas fa-code-branch";
    };

    private async onSubmitNewChangeRequest() {
        if (!this.newlyAddedChangeRequestIsValid) {
            return;
        }
        try {
            this.isSubmittingNewChangeRequest = true;
            const response = await axios.post(
                `/content_units/${this.contentUnit.id}/requests`,
                this.newlyAddedChangeRequest
            );

            const newChangeRequest = (response.data as unknown) as IChangeRequest;
            this.isSubmittingNewChangeRequest = false;

            // TODO Replace the forced reloading with emitting a corresponding Vue event(?)
            // Force a reload
            document.location.reload();
        } catch (error) {
            // TODO Add proper error handling, i.e. by displaying feedback to the user
            this.isSubmittingNewChangeRequest = false;
            console.warn(error);
        }
    }

    private async onSubmitNewAgreementRequest() {
        if (!this.newlyAddedAgreementRequestIsValid) {
            return;
        }
        try {
            this.isSubmittingNewAgreementRequest = true;
            const response = await axios.post(
                `/content_units/${this.contentUnit.id}/requests`,
                this.newlyAddedAgreementRequest
            );

            const newAgreementRequest = (response.data as unknown) as IAgreementRequest;
            this.isSubmittingNewAgreementRequest = false;

            // TODO Replace the forced reloading with emitting a corresponding Vue event(?)
            // Force a reload
            document.location.reload();
        } catch (error) {
            // TODO Add proper error handling, i.e. by displaying feedback to the user
            this.isSubmittingNewAgreementRequest = false;
            console.warn(error);
        }
    }

    private onTextEditorInput(): void {
        if (this.isAddingAgreementRequest) {
            this.newlyAddedAgreementRequestContentIsChangedByUser = true;
        }
    }
}
</script>
