<template>
    <b-container role="main">
        <b-row class="mt-5">
            <b-col>
                <p class="lead">To import a new text into <strong>delvy</strong>Dialogue, please upload its corresponding Word file (<code>.docx</code>).</p>
                <div class="mt-2 mb-5">
                    <b-row>
                        <b-col md="6">
                            <h2 class="h4 mb-3 mt-2">Which formatting options are supported?</h2>
                            <div class="d-flex align-items-baseline">
                                <div class="flex-shrink-0 mr-0">
                                    <div class="text-success px-3 py-2 circle font-weight-bold"><i class="fas fa-check"></i></div>
                                </div>
                                <div class="flex-grow-1">
                                    <p>You can use <strong>paragraphs</strong> of text, <strong>headings</strong> as well as <strong>lists</strong> – however, headings are currently converted into bold text and list items into regular sentences.</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-baseline">
                                <div class="flex-shrink-0 mr-0">
                                    <div class="text-success px-3 py-2 circle font-weight-bold"><i class="fas fa-check"></i></div>
                                </div>
                                <div class="flex-grow-1">
                                    <p>The document can contain <strong>formatting</strong> such as bold, italic and underline text.</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-baseline">
                                <div class="flex-shrink-0 mr-0">
                                    <div class="text-warning px-3 py-2 circle font-weight-bold"><i class="fas fa-exclamation-triangle"></i></div>
                                </div>
                                <div class="flex-grow-1">
                                    <p>Additional formatting such as text colors, increased/decreased indentation, text alignment, etc. is currently ignored. <strong>Links</strong> are removed.</p>
                                </div>
                            </div>
                        </b-col>
                        <b-col md="6">
                            <h2 class="h4 mb-3 mt-2">What does currently not work?</h2>
                            <div class="d-flex align-items-baseline">
                                <div class="flex-shrink-0 mr-0">
                                    <div class="text-danger px-3 py-2 circle font-weight-bold"><i class="fas fa-table"></i></div>
                                </div>
                                <div class="flex-grow-1">
                                    <p><strong>Tables</strong> are currently not supported at all and will be replaced by placeholder texts indicating their absence.</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-baseline">
                                <div class="flex-shrink-0 mr-0">
                                    <div class="text-danger px-3 py-2 circle font-weight-bold"><i class="fas fa-image"></i></div>
                                </div>
                                <div class="flex-grow-1">
                                    <p><strong>Images</strong> aren’t supported either and will be replaced by placeholders as well.</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-baseline">
                                <div class="flex-shrink-0 mr-0">
                                    <div class="text-info px-3 py-2 circle font-weight-bold"><i class="fas fa-question"></i></div>
                                </div>
                                <div class="flex-grow-1">
                                    <p>Anything else doesn’t work? <a href="mailto:hallo@delvy.de">Let us know!</a></p>
                                </div>
                            </div>
                        </b-col>
                    </b-row>
                </div>
                <b-form-input
                    v-model="textName"
                    placeholder="Enter a name for the text…">
                </b-form-input>
                <b-form-file
                    :data-direct-upload-url="'/rails/active_storage/direct_uploads'"
                    :direct_upload="true"
                    class="mt-3 mb-1"
                    accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                    v-model="textFile"
                    :state="Boolean(textFile)"
                    placeholder="Choose a file or drop it here…"
                    drop-placeholder="Drop file here…"
                ></b-form-file>
                <div
                    class="mt-1 mb-1"
                    v-if="this.errorMessage !== ''"
                >
                    <span class="text-danger">{{ this.errorMessage }}</span>
                </div>
                <div
                    class="mt-1 mb-1"
                    v-if="warnings.length > 0"
                >
                    <ul>
                        <li v-for="warning in warnings">
                            <span v-html="warning"></span>
                        </li>
                    </ul>
                </div>

                <b-button
                    class="mt-3"
                    v-if="!isCurrentlyImporting && urlOfImportedText === ''"
                    :disabled="!inputIsValid"
                    @click="uploadText">Import document
                </b-button>
                <b-button
                    v-if="isCurrentlyImporting"
                    class="mt-3"
                    disabled>
                    <b-spinner small type="grow"></b-spinner>
                    Importing in progress…
                </b-button>
                <b-button
                    class="mt-3"
                    v-if="!isCurrentlyImporting && urlOfImportedText !== ''"
                    :to="urlOfImportedText">Go to imported document
                </b-button>
            </b-col>
        </b-row>
    </b-container>
</template>

<script lang="ts">
import axios from "axios";

import { Component, Vue } from "vue-property-decorator";

const eventBus = new Vue();

interface IBroadcastMessage {
    status: 'IMPORT_STARTED' | 'IMPORT_FAILED' | 'IMPORT_WARNINGS' | 'IMPORT_SUCCEEDED';
    original_text_id?: number;
    error_message?: string;
    tables_removed?: number;
    images_removed?: number;
}

// TODO: Find a proper way of extending the Vue component options with "channels"
// TODO: (see actioncable-vue.d.ts for a corresponding try)
@Component<any>({
    channels: {
        OriginalTextImportChannel: {
            connected() {},
            rejected() {},
            received(data: IBroadcastMessage) {
                eventBus.$emit('receivedBroadcast', data);
            },
            disconnected() {}
        }
    }
})
export default class ImportOriginalText extends Vue {
    private textFile: File|null = null;
    private textName: string = "";
    private isUploadingTextFile: boolean = false;
    private isCurrentlyImporting: boolean = false;
    private errorMessage: string = "";
    private urlOfImportedText: string = "";
    private warnings: string[] = [];
    public $cable: any;

    private mounted() {
        axios.defaults.headers.common["X-CSRF-Token"] = document
            .getElementsByName("csrf-token")[0]
            .getAttribute("content");
        axios.defaults.headers.common["Accept"] = "application/json";

        this.$cable.subscribe({
            channel: 'OriginalTextImportChannel',
        });

        eventBus.$on('receivedBroadcast', this.onBroadcastMessageReceived);
    }

    private get inputIsValid() {
        return this.textFile && this.textName && this.textName !== "";
    }

    private onBroadcastMessageReceived(data: IBroadcastMessage) {
        switch (data.status) {
            case "IMPORT_STARTED":
                this.isCurrentlyImporting = true;
                this.errorMessage = "";
                return;
            case "IMPORT_FAILED":
                this.isCurrentlyImporting = false;
                (this as any).$bvToast.toast(`There was an error during import of the document: ${data.error_message}`, {
                    title: "Import failed",
                    variant: "warning",
                    solid: true,
                });
                this.errorMessage = data.error_message as string;
                this.textFile = null;
                return;
            case "IMPORT_WARNINGS":
                let warnings = [] as string[];
                if (data.tables_removed && data.tables_removed > 0) {
                    if (data.tables_removed > 1) {
                        warnings.push(`There were <strong>${data.tables_removed} tables</strong> in the document that have been removed, because tables currently aren’t supported.`);
                    } else {
                        warnings.push(`There was <strong>${data.tables_removed} table</strong> in the document that has been removed, because tables currently aren’t supported.`);
                    }

                }
                if (data.images_removed && data.images_removed > 0) {
                    if (data.images_removed > 1) {
                        warnings.push(`There were <strong>${data.images_removed} images</strong> in the document that have been removed, because images currently aren’t supported.`);
                    } else {
                        warnings.push(`There was <strong>${data.images_removed} image</strong> in the document that has been removed, because images currently aren’t supported.`);
                    }
                }
                this.warnings = warnings;
                return;
            case "IMPORT_SUCCEEDED":
                this.isCurrentlyImporting = false;
                this.errorMessage = "";
                const urlOfImportedText = `/text/${data.original_text_id}`;
                if (this.warnings.length == 0) {
                    (this.$root as any).$bvToast.toast("The uploaded document has successfully been imported. You're being redirected to it.", {
                        title: "Import successful!",
                        variant: "success",
                        solid: true,
                    });
                    this.$router.push(urlOfImportedText);
                    return;
                }
                (this as any).$bvToast.toast("The uploaded document has been imported with warnings.", {
                    title: "Import not fully successful",
                    variant: "warning",
                    solid: true,
                });
                this.urlOfImportedText = urlOfImportedText;
                return;
        }
    }

    private async uploadText() {
        if (this.inputIsValid) {
            this.isUploadingTextFile = true;
            try {
                const formData = new FormData();
                formData.append("original_text[original_file]", this.textFile as File);
                formData.append("original_text[title]", this.textName);

                await axios.post(
                    '/original_texts',
                    formData,
                );
            } catch (error) {
                (this as any).$bvToast.toast(
                    "Sorry, but unfortunately the document could not be uploaded at the moment. Please try again later!",
                    {
                        title: "Sorry, there was an error.",
                        variant: "danger",
                        solid: true,
                    }
                );
            } finally {
                this.isUploadingTextFile = false;
            }
        }
    }
}
</script>
