<template>
    <b-container role="main">
        <b-row class="mt-5">
            <b-col>
                <p>Enter email to invite a collaborator to your workspace:</p>
                <b-form-input
                        v-model="email"
                        placeholder="Enter email…">
                </b-form-input>
                <b-button
                        class="mt-3"
                        :disabled="!inputIsValid"
                        @click="addMember">Add collaborator
                </b-button>
            </b-col>
        </b-row>
    </b-container>
</template>

<script lang="ts">
    import axios from "axios";

    import { Component, Vue } from "vue-property-decorator";
    import { isEmailValid } from "utils/emailUtils";

    @Component({})
    export default class InviteUser extends Vue {
        private email: string = "";
        private activeGroupId: number|undefined = undefined;

        private mounted() {
            axios.defaults.headers.common["X-CSRF-Token"] = document
                .getElementsByName("csrf-token")[0]
                .getAttribute("content");
            axios.defaults.headers.common["Accept"] = "application/json";

            // TODO: As soon as users can actually be members of multiple
            // TODO: groups, change this!
            // TODO: fix in the scope of https://gitlab.com/delvy-code/delvy-dialogue/-/issues/91
            this.activeGroupId = parseInt(
                document
                    .getElementsByName("user_active_group_id")[0]
                    .getAttribute("content") as string
            );
        }

        private async addMember() {
            if (this.inputIsValid) {
                try {
                    const formData = new FormData();
                    formData.append("groups_invite_user[email]", this.email as string);
                    await axios.post(
                        `/groups/${this.activeGroupId}/invite-user`,
                        formData,
                    );

                    this.email = "";

                    (this as any).$bvToast.toast(
                        "Your invitation was sent!",
                        {
                            title: "Invitation successful!",
                            variant: "success",
                            solid: true,
                        }
                    );

                } catch (error) {
                    (this as any).$bvToast.toast(
                        "There was an error sending an invitation. Please try again!",
                        {
                            title: "Sorry, there was an error.",
                            variant: "danger",
                            solid: true,
                        }
                    );
                }
            }
        }

        private get inputIsValid() {
            return isEmailValid(this.email);
        }
    }
</script>
