<template>
    <b-container fluid role="main">
        <b-row class="mt-5">
            <b-col cols="8" class="pl-6 pr-0">
                <div class="text-page ml-auto">
                    <TextNode
                        v-for="node in nodes"
                        v-bind:key="node.id"
                        v-bind:node-type="node.node_type"
                        v-bind:content-units="node.content_units"
                        v-bind:on-content-unit-click="onContentUnitClick"
                        v-bind:currently-selected-content-unit-id="currentlySelectedContentUnitId"
                    ></TextNode>
                </div>
                <!-- TODO Add display of footnotes -->
            </b-col>
            <b-col
                cols="4"
                :class="
                    `pl-0 pr-6 ${
                        currentlySelectedContentUnitId !== -1 && currentlySelectedRequestId === -1
                            ? 'content-unit-details-column'
                            : ''
                    }`
                "
            >
                <div class="sticky-top">
                    <ContentUnitDetails
                        v-if="currentlySelectedContentUnitId !== -1 && currentlySelectedRequestId === -1"
                        v-bind:content-unit-id="currentlySelectedContentUnitId"
                        v-bind:content-unit="
                            flat(nodes
                                .map(node => node.content_units))
                                .find(contentUnit => contentUnit.id === currentlySelectedContentUnitId)
                        "
                        v-bind:on-close="onCloseContentUnitDetails"
                        v-bind:on-request-click="onRequestClick"
                    ></ContentUnitDetails>
                    <RequestDetails
                        v-else-if="currentlySelectedRequestId !== -1"
                        v-bind:request-id="currentlySelectedRequestId"
                        v-bind:on-close="onCloseRequestDetails"
                        @ratingsChanged="onRatingsChanged"
                    >
                    </RequestDetails>
                    <div v-else class="pt-4 pl-4 position-relative overflow-y-scroll mh-100vh">
                        <div class="d-flex mb-2">
                            <span class="flex-shrink-0 text-muted mr-3">
                                <i class="fas fa-info-circle"></i>
                            </span>
                            <p class="h5 font-weight-light flex-grow-1">
                                Click on a sentence to see the corresponding change and agreement requests, or to submit
                                your own comments and requests.
                            </p>
                        </div>
                        <div class="d-flex">
                            <span class="flex-shrink-0 text-muted mr-3">
                                <i class="fas fa-info-circle"></i>
                            </span>
                            <div class="flex-grow-1">
                                <p class="h5 font-weight-light">
                                    If sentences are marked with a a colored circle symbol&nbsp;
                                    <b-badge class="content-unit-rating-badge" pill variant="warning">1</b-badge>
                                    , their text has already been <em>temporarily</em> replaced with the content from
                                    the least critically assessed request.
                                </p>
                                <p class="text-muted">
                                    The color
                                    <b-badge class="content-unit-rating-badge" pill variant="warning">&nbsp;</b-badge>
                                    shows the most critical assessment of the request with the text displayed in the
                                    replacement:
                                </p>
                                <dl class="pl-2">
                                    <div class="d-flex">
                                        <dt class="flex-shrink-0 mr-2 h5">
                                            <b-badge class="content-unit-rating-badge" pill variant="success"
                                                >&nbsp;</b-badge
                                            >
                                        </dt>
                                        <dd class="flex-grow-1 text-muted">“I support this”</dd>
                                    </div>
                                    <div class="d-flex">
                                        <dt class="flex-shrink-0 mr-2 h5">
                                            <b-badge class="content-unit-rating-badge" pill variant="warning"
                                                >&nbsp;</b-badge
                                            >
                                        </dt>
                                        <dd class="flex-grow-1 text-muted">“Okay with me/disinterested”</dd>
                                    </div>
                                    <div class="d-flex">
                                        <dt class="flex-shrink-0 mr-2 h5">
                                            <b-badge class="content-unit-rating-badge" pill variant="orange"
                                                >&nbsp;</b-badge
                                            >
                                        </dt>
                                        <dd class="flex-grow-1 text-muted">“I disagree but tolerate if necessary”</dd>
                                    </div>
                                    <div class="d-flex">
                                        <dt class="flex-shrink-0 mr-2 h5">
                                            <b-badge class="content-unit-rating-badge" pill variant="danger"
                                                >&nbsp;</b-badge
                                            >
                                        </dt>
                                        <dd class="flex-grow-1 text-muted">“Veto”</dd>
                                    </div>

                                    <div class="d-flex mt-2">
                                        <dt class="flex-shrink-0 mr-2 h5">
                                            <b-badge class="content-unit-rating-badge" pill variant="secondary"
                                                >&nbsp;</b-badge
                                            >
                                        </dt>
                                        <dd class="flex-grow-1 text-muted"><em>No ratings yet</em></dd>
                                    </div>
                                </dl>
                                <p class="text-muted">
                                    The cipher in the circle depicts the number of request submitted to that sentence.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </b-col>
        </b-row>
    </b-container>
</template>

<script lang="ts">
const flat = require('array.prototype.flat');
import axios from "axios";
import { Component, Vue } from "vue-property-decorator";

import TextNode from "TextNode.vue";
import ContentUnitDetails from "ContentUnitDetails.vue";
import RequestDetails from "RequestDetails.vue";

@Component({
    components: {
        TextNode,
        ContentUnitDetails,
        RequestDetails,
    },
})
export default class Main extends Vue {
    $route: any;
    private nodes: INode[] = [];
    private currentlySelectedContentUnitId: number = -1;
    private currentlySelectedRequestId: number = -1;
    private flat = flat;

    private mounted() {
        axios.defaults.headers.common["X-CSRF-Token"] = document
            .getElementsByName("csrf-token")[0]
            .getAttribute("content");
        axios.defaults.headers.common["Accept"] = "application/json";
        axios.interceptors.response.use(
            response => response,
            error => {
                // redirect to root
                this.$router.push('/');
                return Promise.reject(error);
            }
        );

        axios.get(`/original_texts/${this.$route.params.id}`).then(response => {
            this.nodes = (response.data.nodes as unknown) as INode[];
        });
    }

    // update text nodes when subcomponents request an update
    private async onRatingsChanged(contentUnitId: number) {
        const { data } = await axios.get(`/content_units/${contentUnitId}`);
        const contentUnit = data as IContentUnit;
        const nodeToBeReplacedIndex = this.nodes.findIndex(
            node => node && node.content_units.some(existingContentUnit => existingContentUnit.id === contentUnitId)
        );
        if (nodeToBeReplacedIndex === -1) {
            throw new Error("The original text node to be updated does not exist anymore.");
        }
        const nodeToBeReplaced = this.nodes[nodeToBeReplacedIndex];
        const contentUnitToBeReplacedIndex = nodeToBeReplaced.content_units.findIndex(
            existingContentUnit => existingContentUnit.id === contentUnitId
        );
        Vue.set(this.nodes[nodeToBeReplacedIndex].content_units, contentUnitToBeReplacedIndex, contentUnit);
    }

    private onContentUnitClick(contentUnitId: number) {
        this.currentlySelectedContentUnitId = contentUnitId;
    }

    private onCloseContentUnitDetails() {
        this.currentlySelectedContentUnitId = -1;
    }

    private onRequestClick(requestId: number) {
        this.currentlySelectedRequestId = requestId;
    }

    private onCloseRequestDetails() {
        this.currentlySelectedRequestId = -1;
    }
}
</script>
