<template>
    <b-card
        no-body
        class="shadow border-0"
    >
        <b-card-body>
            <b-card-title
                :title="originalText.title"
                class="mt-2 mb-1"
            ></b-card-title>
            <b-card-sub-title
                :sub-title="uploaded_ago"
                class="mt-2 mb-4 d-inline-block pr-2"
                v-b-tooltip.hover.right="makeReadableDatetime(originalText.created_at)"
            ></b-card-sub-title>
            <div class="d-flex">
                <b-button
                    :to="`/text/${originalText.id}`"
                    :disabled="isBeingDeleted"
                    variant="primary"
                    class="mr-2 mb-2"
                >View</b-button>
                <b-button
                    v-if="isOwn"
                    :disabled="isBeingDeleted"
                    variant="link"
                    class="text-alert mr-2 mb-2"
                    @click="onDelete"
                >Delete
                </b-button>
            </div>
        </b-card-body>
    </b-card>
</template>

<script lang="ts">
import axios from "axios";

import { Component, Prop, Vue } from "vue-property-decorator";
import { ago, makeReadableDatetime } from "utils/moment";

@Component({})
export default class OriginalTextCard extends Vue {
    @Prop({ required: true })
    protected isOwn!: Boolean;

    @Prop({ required: true })
    protected originalText!: IOriginalText;

    private isBeingDeleted: boolean = false;

    $bvModal: any;

    private makeReadableDatetime = makeReadableDatetime;

    private mounted() {
        axios.defaults.headers.common["X-CSRF-Token"] = document
            .getElementsByName("csrf-token")[0]
            .getAttribute("content");
        axios.defaults.headers.common["Accept"] = "application/json";
    }

    private get uploaded_ago(): string {
        return `uploaded ${ago(this.originalText.created_at)}`;
    }

    private async onDelete() {
        if (!this.isOwn) {
            return;
        }

        this.isBeingDeleted = true;

        try {
            const confirmation = await this.$bvModal.msgBoxConfirm(`Are you sure that you want to delete the text “${this.originalText.title}” uploaded on ${makeReadableDatetime(this.originalText.created_at)}?`, {
                title: 'Please confirm text deletion',
                size: 'md',
                okVariant: 'danger',
                okTitle: 'Yes, delete the text',
                cancelTitle: 'No, cancel the deletion',
                hideHeaderClose: false,
                centered: true
            });
            if (confirmation) {
                try {
                    await axios.delete(`/original_texts/${this.originalText.id}`);
                    (this.$root as any).$bvToast.toast(`You’ve successfully deleted the text “${this.originalText.title}”`, {
                        title: "Text successfully deleted",
                        variant: "success",
                        solid: true,
                    });
                    this.$emit('delete-original-text');
                } catch (error) {
                    (this as any).$bvToast.toast(
                        "Sorry, but unfortunately the text could not be deleted at the moment. Please try again later!",
                        {
                            title: "Sorry, there was an error.",
                            variant: "danger",
                            solid: true,
                        }
                    );
                } finally {
                    this.isBeingDeleted = false;
                }
            } else {
                this.isBeingDeleted = false;
            }
        } catch (err) {
            // An error occured -- do nothing
        } finally {
            this.isBeingDeleted = false;
        }
    }
}
</script>
