<template>
    <span class="d-flex align-items-center rating-bar-container" v-if="ratings.length > 0">
        <div :id="`rating-bar-${id}`" v-if="groupedRatings().length > 0" class="rating-bar progress ml-auto">
            <div
                v-for="rating in groupedRatings()"
                class="progress-bar"
                role="progressbar"
                v-bind:style="{ 'background-color': rating.color, width: rating.percentage * 100 + '%' }"
                v-bind:aria-valuenow="rating.percentage * 100"
                aria-valuemin="0"
                aria-valuemax="100"
            ></div>
        </div>
        <small class="ml-2 font-weight-bolder">{{ ratings.length }}</small>
        <b-tooltip :target="`rating-bar-${id}`" placement="top">
            <dl class="mb-0 pt-1">
                <div class="d-flex">
                    <dt class="flex-shrink-0 mr-1 h6 mb-1">
                        <b-badge class="content-unit-rating-badge" pill variant="success">{{
                            amountOfGreenRatings()
                        }}</b-badge>
                    </dt>
                    <dd class="flex-grow-1 mb-1 text-left">&times; “I support this”</dd>
                </div>
                <div class="d-flex">
                    <dt class="flex-shrink-0 mr-1 h6 mb-1">
                        <b-badge class="content-unit-rating-badge" pill variant="warning">{{
                            amountOfYellowRatings()
                        }}</b-badge>
                    </dt>
                    <dd class="flex-grow-1 mb-1 text-left">&times; “Okay with me/disinterested”</dd>
                </div>
                <div class="d-flex">
                    <dt class="flex-shrink-0 mr-1 h6 mb-1">
                        <b-badge class="content-unit-rating-badge" pill variant="orange">{{
                            amountOfOrangeRatings()
                        }}</b-badge>
                    </dt>
                    <dd class="flex-grow-1 mb-1 text-left">&times; “I disagree but tolerate if necessary”</dd>
                </div>
                <div class="d-flex">
                    <dt class="flex-shrink-0 mr-1 h6 mb-1">
                        <b-badge class="content-unit-rating-badge" pill variant="danger">{{
                            amountOfVetoRatings()
                        }}</b-badge>
                    </dt>
                    <dd class="flex-grow-1 mb-1 text-left">&times; “Veto”</dd>
                </div>
            </dl>
        </b-tooltip>
    </span>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import groupBy from "lodash.groupby";
import map from "lodash.map";
import { uuidv4 } from "utils/uuid";

@Component({})
export default class RatingBar extends Vue {
    @Prop({ required: true }) protected ratings!: IRating[];

    private id = uuidv4();

    private groupedRatings(): any {
        const ratingsCount = this.ratings.length;
        let colors = ["#dc3545", "#FF6600", "#ffc107", "#28a745"];

        return map(groupBy(this.ratings, "value"), (value: any, index: number) => ({
            percentage: value.length / ratingsCount,
            color: colors[index],
        }));
    }

    private amountOfGreenRatings(): number {
        return this.ratings.filter(rating => rating.value === 3).length;
    }

    private amountOfYellowRatings(): number {
        return this.ratings.filter(rating => rating.value === 2).length;
    }

    private amountOfOrangeRatings(): number {
        return this.ratings.filter(rating => rating.value === 1).length;
    }

    private amountOfVetoRatings(): number {
        return this.ratings.filter(rating => rating.value === 0).length;
    }
}
</script>
