<template>
    <div class="position-relative">
        <div class="backdrop" @click="onClose"></div>
        <div class="mh-100vh overflow-y-scroll mx-n4 my-n4">
            <b-card no-body bg-variant="light" text-variant="dark" class="rounded-0 above-backdrop shadow p-3">
                <div v-if="request.content !== undefined" class="p-2">
                    <div class="d-flex flex-wrap-reverse w-100 align-items-end">
                        <div class="mr-1 flex-grow-1 text-truncate">
                            <span class="d-block h5 font-weight-bolder text-truncate">{{
                                isOriginalRequest(this.request)
                                    ? "original text"
                                    : request.author.name || request.author.email
                            }}</span>
                            <span
                                v-if="!isOriginalRequest(this.request)"
                                class="small text-muted"
                                v-b-tooltip.hover
                                :title="makeReadableDatetime(request.created_at)"
                                >{{ request.created_at | ago }}</span
                            >
                        </div>
                        <div class="flex-grow-1 ml-auto d-flex flex-wrap-reverse align-items-center mt-n2 mr-n2">
                            <RatingBar class="flex-grow-1 mr-2" v-bind:ratings="ratings" />
                            <b-button variant="light" @click="onClose" class="ml-auto rounded-0">
                                <i class="fa fa-times"></i>
                            </b-button>
                        </div>
                    </div>
                    <dl v-if="!isOriginalRequest(this.request)" class="row mt-2 text-small">
                        <dt class="col-1 mr-n2 text-muted"><i class="fas fa-minus"></i></dt>
                        <dd class="col-11 text-muted" v-html="oldContent"></dd>
                    </dl>
                    <dl class="row text-small">
                        <dt class="col-1 mr-n2"><i class="fas fa-plus"></i></dt>
                        <dd class="col-11" v-html="newContent"></dd>
                    </dl>
                    <p class="mt-2 text-small">{{ request.reason }}</p>
                    <div v-if="request.requests && request.requests.length > 0" class="mt-2 text-small">
                        <b-button v-b-toggle.collapse-requests variant="primary" size="sm">
                            Show/hide summarised requests
                        </b-button>
                        <b-collapse id="collapse-requests" class="mt-2">
                            <RequestCard
                                v-for="summarisedRequest in request.requests"
                                v-bind:key="summarisedRequest.id"
                                v-bind:request="summarisedRequest"
                                class="mb-4"
                            ></RequestCard>
                        </b-collapse>
                    </div>
                </div>
                <div v-else class="w-100 p-2">
                    <i class="fas fa-circle-notch fa-spin mr-2"></i>
                    Loading…
                </div>
            </b-card>
            <b-card
                no-body
                bg-variant="light"
                text-variant="dark"
                class="border-primary border-2 rounded-0 above-backdrop shadow p-3 px-4 mx-4"
            >
                <b-form-group
                    id="form-group-assess-request"
                    label="Assess this suggestion:"
                    label-for="input-assess-request"
                    :class="`my-1 ${this.isCreatedByCurrentUser ? 'text-muted' : ''}`"
                    v-b-tooltip.hover
                    :title="this.isCreatedByCurrentUser ? 'You can’t assess your own requests.' : undefined"
                >
                    <div class="d-flex">
                        <b-form-select
                            class="flex-grow-1"
                            id="input-assess-request"
                            v-model="rating"
                            :options="ratingOptions"
                            :disabled="isSubmittingRating || isCreatedByCurrentUser"
                        >
                            <template v-slot:first>
                                <option :value="null" disabled>Select assessment</option>
                            </template>
                        </b-form-select>
                        <div class="flex-shrink-0 ml-1 mr-n1" v-if="rating !== null">
                            <b-button
                                :disabled="isSubmittingRating || isCreatedByCurrentUser"
                                id="tooltip-remove-assessment"
                                @click="rating = null"
                                variant="link"
                                ><i class="far fa-trash-alt"></i
                            ></b-button>
                            <b-tooltip target="tooltip-remove-assessment" variant="danger" placement="top"
                                >Remove your assessment</b-tooltip
                            >
                        </div>
                    </div>
                </b-form-group>
            </b-card>
            <b-card
                no-body
                bg-variant="light"
                text-variant="dark"
                class="rounded-0 border-primary border-top-0 border-2 above-backdrop shadow p-3 px-4 mx-4"
            >
                <b-input-group
                    id="form-group-comment-request"
                    label="Comment this suggestion:"
                    label-for="input-comment-request"
                    class="my-1 mb-3"
                >
                    <b-form-textarea
                        trim
                        id="input-comment-request"
                        :disabled="isSubmittingComment"
                        v-model="comment"
                        placeholder="Write your comment here…"
                        rows="2"
                        max-rows="3"
                    ></b-form-textarea>
                    <template v-slot:append v-if="comment !== null && comment !== ''">
                        <b-button :disabled="isSubmittingComment" @click="storeComment">Send</b-button>
                    </template>
                </b-input-group>
                <div class="overflow-y-scroll">
                    <div v-for="entry in commentsAndRatingsGroupedByUserAndSortedByDate">
                        <div class="mt-1 p-2 pt-3 border-top">
                            <div class="d-flex flex-wrap w-100">
                                <div>
                                    <span class="d-block font-weight-bolder mr-1 mb-n1">{{
                                        entry.author.name || entry.author.email
                                    }}</span>
                                    <span
                                        class="small text-muted"
                                        v-b-tooltip.hover
                                        :title="makeReadableDatetime(entry.dateString)"
                                        >{{ entry.dateString | ago }}</span
                                    >
                                </div>
                                <div v-if="entry.rating" class="ml-auto">
                                    <span class="font-weight-bold mr-1">User rated:</span>
                                    <b-badge pill :variant="getVariantForRatingValue(entry.rating.value)"
                                        >&nbsp;</b-badge
                                    >
                                </div>
                            </div>
                            <p class="mt-1 mb-2" v-if="entry.comment">
                                {{ entry.comment.content }}
                            </p>
                        </div>
                    </div>
                </div>
            </b-card>
        </div>
    </div>
</template>

<script lang="ts">
import axios from "axios";
import * as moment from "moment";

const HtmlDiffer = require("html-differ").HtmlDiffer;

import { Component, Prop, Watch, Vue } from "vue-property-decorator";
import RatingBar from "RatingBar.vue";
import { isOriginalRequest } from "utils/requestUtils";
import RequestCard from "RequestCard.vue";
import { ago, makeReadableDatetime } from "utils/moment";
import { placeFootnotesToTheEndOfHtmlString } from "utils/footnote";

@Component({
    components: { RatingBar, RequestCard },
    filters: {
        ago: ago,
    },
})
export default class RequestDetails extends Vue {
    @Prop({ required: true }) protected requestId!: number;
    @Prop({ required: true }) protected onClose!: Function;

    private request: IRequest = {};
    private ratings: IRating[] = [];
    private comments: IComment[] = [];

    private userId: number = -1;
    // TODO Get the user's email either from a global Vuex state or dynamically by querying the back-end via userId
    private userEmail: string = "TODO Implement";

    private rating: number | null = null;
    private isSubmittingRating: boolean = false;
    private ratingIsBeingReset: boolean = false;

    private comment: string | null = null;
    private isSubmittingComment: boolean = false;

    private htmlDiffer: any = null;

    private ratingOptions = [
        { value: 3, text: "I support this" },
        { value: 2, text: "Okay with me/disinterested" },
        { value: 1, text: "I disagree but tolerate if necessary" },
        { value: 0, text: "Veto" },
    ];

    private isOriginalRequest = isOriginalRequest;

    private makeReadableDatetime = makeReadableDatetime;

    private async mounted() {
        axios.defaults.headers.common["X-CSRF-Token"] = document
            .getElementsByName("csrf-token")[0]
            .getAttribute("content");
        axios.defaults.headers.common["Accept"] = "application/json";

        this.userId = parseInt(document.getElementsByName("user_id")[0].getAttribute("content") as string);

        this.addOnKeyDownListener();

        const { data: request } = await axios.get(`/requests/${this.requestId}`);
        const { data: ratings } = await axios.get(`/requests/${this.requestId}/ratings`);
        const { data: comments } = await axios.get(`/requests/${this.requestId}/comments`);

        const existingRating = (ratings as IRating[]).find(rating => (rating.author as IUser).id === this.userId);
        if (existingRating) {
            this.ratingIsBeingReset = true;
            this.rating = existingRating.value as number;
            this.$nextTick(() => {
                this.ratingIsBeingReset = false;
            });
        }

        this.request = request;
        this.ratings = ratings;
        this.comments = comments;

        const htmlDifferOptions = {
            ignoreAttributes: [],
            compareAttributesAsJSON: [],
            ignoreWhitespaces: false,
            ignoreComments: true,
            ignoreEndTags: false,
            ignoreDuplicateAttributes: false,
        };

        this.htmlDiffer = new HtmlDiffer(htmlDifferOptions);
    }

    private beforeDestroy() {
        this.removeOnKeyDownListener();
    }

    private addOnKeyDownListener() {
        window.addEventListener("keydown", this.onKeydown);
    }

    private removeOnKeyDownListener() {
        window.removeEventListener("keydown", this.onKeydown);
    }

    private async storeComment() {
        if (this.comment && this.comment.trim() !== "") {
            this.isSubmittingComment = true;
            try {
                await axios.post(`/requests/${this.requestId}/comments`, {
                    content: this.comment.trim(),
                });
                (this as any).$bvToast.toast("You've successfully added your comment – thanks!", {
                    title: "Success!",
                    variant: "success",
                    solid: true,
                });
                this.comments.push({
                    content: this.comment.trim(),
                    author: {
                        id: this.userId,
                        // TODO Use this.userEmail or this.userName instead(?)
                        first_name: "(You)",
                        last_name: "",
                        organization: "",
                        email: "",
                        created_at: "",
                        updated_at: "",
                        is_moderator: false,
                    },
                    created_at: moment().format(),
                    updated_at: moment().format(),
                    request: this.request,
                });
                this.comment = null;
            } catch (error) {
                (this as any).$bvToast.toast(
                    "Sorry, but unfortunately your comment could not be saved at the moment. Please try again later!",
                    {
                        title: "Sorry, there was an error.",
                        variant: "danger",
                        solid: true,
                    }
                );
            } finally {
                this.isSubmittingComment = false;
            }
        }
    }

    private onKeydown = (event: KeyboardEvent) => {
        if (event.key === "Escape" || event.key === "Esc") {
            this.onClose();
        }
    };

    @Watch("rating")
    private async onRatingChanged(rating: number | null, oldRating: number | null) {
        if (this.ratingIsBeingReset) {
            return;
        }
        if (rating !== oldRating && !this.isSubmittingRating && !this.ratingIsBeingReset) {
            this.isSubmittingRating = true;
            try {
                await axios.post(`/requests/${this.requestId}/ratings`, {
                    value: rating,
                });
                let message = "You've successfully added your assessment – thanks!";
                if (rating === null) {
                    message = "You've successfully removed your assessment.";
                }
                (this as any).$bvToast.toast(message, {
                    title: "Success!",
                    variant: "success",
                    solid: true,
                });
                const existingRatingIndex = this.ratings.findIndex(
                    rating => (rating.author as IUser).id === this.userId
                );
                if (existingRatingIndex !== -1) {
                    const updatedRating = { ...this.ratings[existingRatingIndex] };
                    if (rating !== null) {
                        // Update the existing rating
                        updatedRating.value = rating as number;
                        this.$set(this.ratings, existingRatingIndex, updatedRating);
                    } else {
                        // Remove the existing rating, if the value has been set to "null"
                        this.ratings.splice(existingRatingIndex, 1);
                    }
                } else if (rating !== null) {
                    // If there hasn't existed a rating previously and the rating hasn't been set to "null", add it
                    this.ratings.push({
                        value: rating,
                        author: {
                            id: this.userId,
                            // TODO Use this.userEmail or this.userName instead(?)
                            first_name: "(You)",
                            last_name: "",
                            organization: "",
                            email: "",
                            created_at: "",
                            updated_at: "",
                            is_moderator: false,
                        },
                        created_at: moment().format(),
                        updated_at: moment().format(),
                        request: this.request,
                    });
                }
            } catch (error) {
                (this as any).$bvToast.toast(
                    "Sorry, but unfortunately your assessment could not be saved at the moment. Please try again later!",
                    {
                        title: "Sorry, there was an error.",
                        variant: "danger",
                        solid: true,
                    }
                );
                this.ratingIsBeingReset = true;
                this.rating = oldRating;
            } finally {
                this.$nextTick(() => {
                    this.isSubmittingRating = false;
                    this.ratingIsBeingReset = false;
                });
                // notify parent component that ratings have changed
                this.$emit("ratingsChanged", this.request.content_unit_id);
            }
        }
    }

    private get isCreatedByCurrentUser() {
        const requestAuthorId = this.request.author ? this.request.author.id : this.request.author_id;
        return this.userId === requestAuthorId;
    }

    private get originalContent() {
        const contentPossiblyIncludingFootnotes = (this.request.content_unit as IContentUnit).original_content;
        return placeFootnotesToTheEndOfHtmlString(contentPossiblyIncludingFootnotes);
    }

    private get requestContent() {
        const contentPossiblyIncludingFootnotes = this.request.content as string;
        return placeFootnotesToTheEndOfHtmlString(contentPossiblyIncludingFootnotes);
    }

    private get oldContent() {
        let result = "";
        const changes = this.htmlDiffer.diffHtml(this.originalContent, this.requestContent);
        changes.forEach((change: any) => {
            if (change.removed) {
                result += `<del class="text-danger">${change.value}</del>`;
            } else if (!change.added) {
                result += change.value;
            }
        });
        return result;
    }

    private get newContent() {
        let result = "";
        const changes = this.htmlDiffer.diffHtml(this.originalContent, this.requestContent);
        changes.forEach((change: any) => {
            if (change.added) {
                result += `<ins class="text-success">${change.value}</ins>`;
            } else if (!change.removed) {
                result += change.value;
            }
        });
        return result;
    }

    private getVariantForRatingValue(value: RatingValues): string {
        if (value === 3) {
            return "success";
        }
        if (value === 2) {
            return "warning";
        }
        if (value === 1) {
            return "orange";
        }
        return "danger";
    }

    private get commentsAndRatingsGroupedByUserAndSortedByDate(): {
        author: IUser;
        dateString: string;
        comment?: IComment;
        rating?: IRating;
    }[] {
        // Build a dictionary mapping each author (via his/her ID) to their rating (if they did give any rating yet)
        const userRatings = {} as { [authorId: number]: IRating };
        this.ratings.forEach((rating: IRating) => {
            userRatings[(rating.author as IUser).id] = rating;
        });

        // Keep track of the users that did add comments, in order to filter out any ratings w/o comments afterwards
        const idsOfUsersThatDidAddComments: number[] = [];

        // Add the user's rating to all comments (if the user did give a rating yet)
        const commentsWithRatings = [] as ICommentMaybeWithRating[];
        this.comments.forEach((comment: IComment) => {
            const authorUserId = (comment.author as IUser).id;
            let rating = undefined;
            if (userRatings[authorUserId]) {
                rating = userRatings[authorUserId];
            }
            commentsWithRatings.push({
                comment,
                rating,
            });
            if (!idsOfUsersThatDidAddComments.includes(authorUserId)) {
                idsOfUsersThatDidAddComments.push(authorUserId);
            }
        });

        // Filter out all the "solo" ratings from authors that did not add comment as well
        const soloRatings = Object.keys(userRatings)
            .filter(authorId => !idsOfUsersThatDidAddComments.includes(parseInt(authorId)))
            .map(authorId => userRatings[parseInt(authorId)]);

        const commentsMaybeWithRatingsByDate: {
            dateString: string;
            entry: ICommentMaybeWithRating;
            entryType: string;
        }[] = commentsWithRatings.map(commentMaybeWithRating => {
            return {
                dateString: commentMaybeWithRating.comment.created_at,
                entry: commentMaybeWithRating,
                entryType: "commentMaybeWithRating",
            };
        });
        const soloRatingsByDate: {
            dateString: string;
            entry: IRating;
            entryType: string;
        }[] = soloRatings.map(rating => {
            return {
                dateString: rating.created_at,
                entry: rating,
                entryType: "rating",
            };
        });
        let combinedEntriesByDate: {
            dateString: string;
            entry: ICommentMaybeWithRating | IRating;
            entryType: string;
        }[] = commentsMaybeWithRatingsByDate;
        combinedEntriesByDate = combinedEntriesByDate.concat(soloRatingsByDate);

        return combinedEntriesByDate
            .sort((entryA, entryB) => {
                return moment(entryB.dateString).unix() - moment(entryA.dateString).unix();
            })
            .map(entry => {
                if (entry.entryType === "commentMaybeWithRating") {
                    return {
                        dateString: entry.dateString,
                        author: (entry.entry as any).comment.author,
                        rating: (entry.entry as any).rating,
                        comment: (entry.entry as any).comment,
                    };
                } else {
                    return {
                        dateString: entry.dateString,
                        author: (entry.entry as IRating).author,
                        rating: entry.entry,
                        comment: undefined,
                    };
                }
            });
    }
}
</script>
