<template>
    <div>
        <div class="d-flex flex-wrap-reverse w-100 justify-content-between">
            <div class="d-flex flex-shrink-1 flex-wrap align-items-baseline text-truncate request-card-title">
                <i
                    v-b-tooltip.hover
                    :title="tooltipTitle"
                    v-if="isAccepted"
                    class="fas fa-check-circle text-muted mr-1"
                ></i>
                <span class="text-truncate font-weight-bolder mr-2">{{
                    isOriginalRequest(request) ? "original text" : request.author.name || request.author.email
                }}</span>
                <span
                    v-if="!isOriginalRequest(request)"
                    class="small text-muted"
                    v-b-tooltip.hover
                    :title="makeReadableDatetime(request.created_at)"
                    >{{ request.created_at | ago }}</span
                >
            </div>
            <RatingBar
                class="align-self-start flex-shrink-0 mt-1 ml-auto pl-2"
                v-bind:ratings="request.ratings"
            ></RatingBar>
        </div>

        <p class="small mb-1 mt-1" v-html="preparedContent" id="content"></p>

        <div class="d-flex w-100">
            <div class="flex-grow-1 text-truncate mr-2">
                <span class="small text-muted">{{ request.reason }}</span>
            </div>
            <div class="flex-shrink-0">
                <b-badge pill variant="info">{{
                    `${request.comments.length} Comment${
                        request.comments.length > 1 || request.comments.length === 0 ? "s" : ""
                    }`
                }}</b-badge>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import * as moment from "moment";
import { Component, Vue, Prop } from "vue-property-decorator";
import RatingBar from "RatingBar.vue";
import { isOriginalRequest } from "utils/requestUtils";
import { ago, makeReadableDatetime } from "utils/moment";
import { placeFootnotesToTheEndOfHtmlString } from "utils/footnote";

@Component({
    components: { RatingBar },
    filters: {
        ago: ago,
    },
})
export default class RequestCard extends Vue {
    @Prop({ required: true }) protected request!: IRequest;
    @Prop({ required: false }) protected isAccepted?: Boolean;

    private isOriginalRequest = isOriginalRequest;

    private get preparedContent() {
        const contentPossiblyIncludingFootnotes = this.request.content as string;
        return placeFootnotesToTheEndOfHtmlString(contentPossiblyIncludingFootnotes);
    }

    private get tooltipTitle() {
        if (this.isOriginalRequest(this.request)) {
            return "The original text is the currently least critically assessed option.";
        }
        return "This is the currently least critically assessed request. Thus, the original sentence on the left has temporarily been replaced accordingly.";
    }

    private makeReadableDatetime = makeReadableDatetime;
}
</script>
