<template>
    <div class="editor">
        <editor-menu-bar :editor="editor" v-slot="{ commands, isActive }">
            <b-button-toolbar class="mb-2">
                <b-button-group class="mr-2">
                    <b-button size="sm" variant="light" :pressed="isActive.bold()" @click="commands.bold">
                        <strong>B</strong>
                    </b-button>
                    <b-button size="sm" variant="light" :pressed="isActive.italic()" @click="commands.italic">
                        <em>i</em>
                    </b-button>
                    <b-button size="sm" variant="light" :pressed="isActive.underline()" @click="commands.underline">
                        <span style="text-decoration: underline;">u</span>
                    </b-button>
                </b-button-group>
                <b-button-group class="mr-2">
                    <b-button size="sm" variant="light" @click="commands.createFootnote">
                        Add Footnote
                    </b-button>
                </b-button-group>
                <b-button-group class="ml-auto">
                    <b-button size="sm" variant="light" @click="commands.undo">
                        <i class="fa fa-undo"></i>
                    </b-button>
                    <b-button size="sm" variant="light" @click="commands.redo">
                        <i class="fa fa-redo"></i>
                    </b-button>
                </b-button-group>
            </b-button-toolbar>
        </editor-menu-bar>
        <div class="d-flex">
                            <span class="flex-shrink-0 text-muted mr-3">
                                <i class="fas fa-info-circle"></i>
                            </span>
            <p class="font-weight-light flex-grow-1">
                To edit an existing footnote, just click the number.
            </p>
        </div>
        <editor-content class="form-control h-auto" :editor="editor" />
    </div>
</template>

<script lang="ts">
import { Component, Prop, Watch, Vue } from "vue-property-decorator";
import { Editor, EditorContent, EditorMenuBar, Extension, Text } from "tiptap";

import { Bold, Italic, Underline, History } from "tiptap-extensions";
import { Doc, Footnote } from "./tiptap/EditorExtensions";

@Component({
    components: {
        EditorContent,
        EditorMenuBar,
    },
})
export default class RichTextEditor extends Vue {
    @Prop({ required: true }) protected value!: string;

    private editor: Editor | null = null;
    private footnotePopoverIsShowed: boolean = false;
    private editorChange = false;

    private mounted() {
        this.editor = new Editor({
            useBuiltInExtensions: false,
            content: this.value,
            extensions: [
                new Doc(),
                new Text(),
                new Bold(),
                new Italic(),
                new Underline(),
                new History(),
                new (class extends Extension {
                    keys() {
                        return {
                            Enter(state: any, dispatch: any, view: any) {
                                // return true prevents default behaviour
                                return true;
                            },
                        };
                    }
                })(),
                new Footnote(),
            ],
            emptyDocument: {
                type: "doc",
                content: [],
            },
            onUpdate: (data: any) => {
                this.editorChange = true;
                const getHTML = data.getHTML;
                this.$emit("input", getHTML());
            },
        });
        this.editor.setContent(this.value);
        this.$root.$on("show-footnote-popover", this.onShowFootnotePopover);
        this.$root.$on("hide-footnote-popover", this.onHideFootnotePopover);
    }

    private beforeDestroy() {
        if (this.editor) {
            this.editor.destroy();
        }
    }

    private onShowFootnotePopover() {
        this.footnotePopoverIsShowed = true;
    }

    private onHideFootnotePopover() {
        this.footnotePopoverIsShowed = false;
    }

    @Watch("value")
    private onValueChanged(value: string, oldValue: string) {
        if (this.editor && oldValue.trim() !== value.trim()) {
            if (this.footnotePopoverIsShowed) {
                this.editor.setContent(value, true);
                this.footnotePopoverIsShowed = false;
            }
            if (!this.editorChange) {
                this.editor.setContent(value, true);
            }
        }
        this.editorChange = false;
    }
}
</script>
