<template>
    <b-container role="main">
        <b-row class="mt-5">
            <b-col>
                <p>Please select one of the original texts to begin working on it:</p>
                <fragment
                    v-if="!isLoading"
                >
                    <b-row
                        class="mt-3"
                    >
                        <b-col cols="12">
                            <h2 class="h4 mb-3">
                                <span class="mr-3">Your documents:</span>
                                <b-button variant="outline-primary" :to="'/import-text'">
                                    Import a new document
                                </b-button>
                            </h2>
                        </b-col>
                        <fragment
                            v-if="ownOriginalTexts && ownOriginalTexts.length > 0"
                        >
                            <b-col
                                v-for="ownText in sortTextsByPriorityAndDates(ownOriginalTexts)"
                                :key="ownText.id"
                                cols="12" sm="6" lg="3"
                                class="mb-4"
                            >
                                <OriginalTextCard
                                    :original-text="ownText"
                                    :is-own="true"
                                    @delete-original-text="reload"
                                ></OriginalTextCard>
                            </b-col>
                        </fragment>
                        <b-col
                            v-else
                            cols="12"
                        >
                            <p class="text-muted">You haven’t uploaded any texts yet. Use the “Import a new document” button above to do so and get started!</p>
                        </b-col>
                    </b-row>
                    <b-row
                        v-if="sharedOriginalTexts && sharedOriginalTexts.length > 0"
                        class="mt-3"
                    >
                        <b-col cols="12">
                            <h2 class="h4 mb-3">
                                <span class="mr-3">Documents shared with you:</span>
                            </h2>
                        </b-col>
                        <b-col
                            v-if="sharedOriginalTexts && sharedOriginalTexts.length > 0"
                            v-for="sharedText in sortTextsByPriorityAndDates(sharedOriginalTexts)"
                            :key="sharedText.id"
                            cols="12" sm="6" lg="3"
                            class="mb-4"
                        >
                            <OriginalTextCard
                                :original-text="sharedText"
                                :is-own="false"
                                @delete-original-text="reload"
                            ></OriginalTextCard>
                        </b-col>
                    </b-row>
                </fragment>
                <b-row v-else>
                    <b-col cols="12">
                        <b-spinner small type="grow" class="mr-3"></b-spinner>
                        Loading…
                    </b-col>
                </b-row>
            </b-col>
        </b-row>
    </b-container>
</template>

<script lang="ts">
import axios from "axios";

import { Component, Vue } from "vue-property-decorator";
import OriginalTextCard from "OriginalTextCard.vue";

@Component({
    components: { OriginalTextCard },
})
export default class SelectOriginalText extends Vue {
    private isLoading: boolean = true;
    private ownOriginalTexts: IOriginalText[] = [];
    private sharedOriginalTexts: IOriginalText[] = [];

    private mounted() {
        axios.defaults.headers.common["X-CSRF-Token"] = document
            .getElementsByName("csrf-token")[0]
            .getAttribute("content");
        axios.defaults.headers.common["Accept"] = "application/json";

        this.load();
    }

    private load() {
        axios.get("/original_texts").then(response => {
            this.ownOriginalTexts = ((response.data.own as unknown) as IOriginalText[]).filter((text) => {
                return !text.hidden
            });
            const allOriginalTexts = ((response.data.all as unknown) as IOriginalText[]).filter((text) => {
                return !text.hidden
            });
            // Filter out the own texts from all available original texts
            this.sharedOriginalTexts = allOriginalTexts.filter((text) =>
                (!this.ownOriginalTexts.some((ownText) => ownText.id === text.id))
            );
            this.isLoading = false;
        });
    }

    private reload() {
        this.isLoading = true;
        this.ownOriginalTexts = [];
        this.sharedOriginalTexts = [];

        this.load();
    }

    private sortTextsByPriorityAndDates(originalTexts: IOriginalText[]): IOriginalText[] {
        return Array.from(originalTexts)
            .sort((a, b) => {
                if (a.sorting_priority < b.sorting_priority) {
                    return 1;
                } else if (b.sorting_priority < a.sorting_priority) {
                    return -1;
                } else {
                    // priorities are equal, sort by date now
                    const unixTimestampA = parseInt((new Date(a.created_at).getTime() / 1000).toFixed(0));
                    const unixTimestampB = parseInt((new Date(b.created_at).getTime() / 1000).toFixed(0));
                    if (unixTimestampA == unixTimestampB) {
                        return 0;
                    }
                    if (unixTimestampA < unixTimestampB) {
                        return 1;
                    }
                    return -1;
                }
            });
    }
}
</script>
