<template>
    <component v-bind:is="nodeType">
        <ContentUnit
            v-for="contentUnit in contentUnits"
            v-bind:key="contentUnit.id"
            v-bind:content-unit-data="contentUnit"
            v-bind:on-content-unit-click="onContentUnitClick"
            v-bind:currently-selected-content-unit-id="currentlySelectedContentUnitId"
        />
    </component>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import ContentUnit from "ContentUnit.vue";

@Component({
    components: { ContentUnit },
})
export default class TextNode extends Vue {
    @Prop({ required: true }) protected nodeType!: string;
    @Prop({ required: true }) protected contentUnits!: IContentUnit[];
    @Prop({ required: true }) protected onContentUnitClick!: Function;
    @Prop({ required: true }) protected currentlySelectedContentUnitId!: number;
}
</script>
