<template>
    <b-container role="main">
        <b-row class="mt-5">
            <b-col>
                <b-list-group>
                    <b-list-group-item v-for="user in users" v-bind:class="{active: user.id === userId}">
                        {{user.first_name}} {{user.last_name}}, {{user.organization}}
                    </b-list-group-item>
                </b-list-group>
            </b-col>
        </b-row>
    </b-container>
</template>

<script lang="ts">
    import axios from "axios";

    import { Component, Vue } from "vue-property-decorator";

    @Component({})
    export default class UserList extends Vue {
        private users: IUser[] = [];
        private userId: number = -1;

        private mounted() {
            axios.defaults.headers.common["X-CSRF-Token"] = document
                .getElementsByName("csrf-token")[0]
                .getAttribute("content");
            axios.defaults.headers.common["Accept"] = "application/json";

            this.userId = parseInt(document.getElementsByName("user_id")[0].getAttribute("content") as string);

            axios.get("/users").then(response => {
                this.users = (response.data as unknown) as IUser[];
            });
        }
    }
</script>
