<body class="text-center">

  <div class="authentication-form">

    <h1 class="h3 mb-3 font-weight-normal">Log in</h1>

    <% if ENV['DEMO_MODE'] %>
      <p>Use <code>test@test.com</code> / <code>password</code> to test <strong>delvy</strong>!</p>
    <% end %>

    <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.text_field :login, label_as_placeholder: true, autofocus: true, autocomplete: "email", label: "Email" %>
      <%= f.password_field :password, label_as_placeholder: true, autocomplete: "current-password" %>

      <% if devise_mapping.rememberable? %>
        <%= f.check_box :remember_me %>
      <% end %>

      <div class="actions">
        <%= f.primary "Log in", extra_class: "btn-lg my-3" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>

</body>
